<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/footer.css">
    </head>
        <title>
            Blockchain Homepage
        </title>
        <body>
            <center>
                <div>
                    <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 50px;">Welcome To My Blockchain </h1><br>
                </div>
                <div class="squares">
                    <div class="icon1">
                        <p> <b> Blockchain defined:</b> <br> Blockchain is a shared, immutable ledger that facilitates the process of recording transactions and tracking assets in a business network. An asset can be tangible (a house, car, cash, land) or intangible (intellectual property, patents, copyrights, branding). Virtually anything of value can be tracked and traded on a blockchain network, reducing risk and cutting costs for all involved.</p>
                    </div>
                    <div class="icon2">
                        <p> <b> Why blockchain is important: </b> <br> Business runs on information. The faster it’s received and the more accurate it is, the better. Blockchain is ideal for delivering that information because it provides immediate, shared and completely transparent information stored on an immutable ledger that can be accessed only by permissioned network members. A blockchain network can track orders, payments, accounts, production and much more. And because members share a single view of the truth, you can see all details of a transaction end to end, giving you greater confidence, as well as new efficiencies and opportunities.</p>
                    </div>
                </div>
                <br>

                <!-- button for mining block -->
                <div>
                    <button onclick="location.href='mine_block'" class="btn" type="button" data-inline="true">
                        Mine Block</button>
                </div>

                <!-- button for getting blocks details -->
                <div>
                    <button onclick="location.href='get_chain'" class="btn" type="button" data-inline="true">
                        Get Chain</button>
                </div>

                <!-- footer -->
                <hr class="ahr">
                <hr color="grey" class="bhr">
                <footer class="footer-distributed">
                    <div class="footer-left">
                        <h3>Company<span>logo</span></h3>
                        <p class="footer-links">
                            <button onclick="location.href='/'" class="links" type="button">
                                Homepage</button>
                            <button onclick="location.href='about'" class="links" type="button">
                                About</button>
                            <button onclick="location.href='contact'" class="links" type="button">
                                Contact Us</button>
                        </p>
                        <br>
                        <a href="https://uem.edu.in/uem-kolkata/" style="font-size: 30px; ">UEM KOLKATA</a>
                        <div class="footer-icons">
                            <a href="#"><i class="fa fa-facebook" style="font-size: 24px;"></i></a>
                            <a href="#"><i class="fa fa-twitter" style="font-size: 24px;"></i></a>
                            <a href="#"><i class="fa fa-linkedin" style="font-size: 24px;"></i></a>
                            <a href="#"><i class="fa fa-github" style="font-size: 24px;"></i></a>
                        </div>

                    </div>
                    <div class="footer-right">
                        <p>Contact Us</p>
                        <form action="#" method="post">
                            <input type="text" name="email" placeholder="Email">
                            <textarea name="message" placeholder="Message"></textarea>
                            <button>Send</button>
                        </form>
                    </div>
                </footer>
            </center>
        </body>
</html> 